.navigation {
  position: relative;

  &-main {
    display: flex;
    width: 80px;
    border: 1px solid #049962;
    border-radius: 5px;
    padding: 8px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: $color-green;
    color: $color-default-lightest;
  }

  &-text {
    @include font-size(12px);

    @media #{$info-bp-desktop-ultra} {
      @include font-size(10px);
    }
  }
}
